{% extends "base.html" %}

{% block title %}Neues Passwort{% endblock %}
{% block description %}Neues Passwort{% endblock %}
{% block keywords %}Neues Passwort{% endblock %}

{% block content %}
    {% macro render_input(name, type, placeholder) %}
        <input type="{{ type }}" name="{{ name }}" placeholder="{{ placeholder }}" required><br><br>
    {% endmacro %}

    <form action="{{ url_for('account.forgot_password') }}" method="post">
        {{ render_input('new_password', 'password', 'Neues Passwort') }}
        {{ render_input('code', 'number', 'Code') }}
        <button type="submit">Bestätigen</button>
    </form>
{% endblock %}