{% extends "base.html" %}

{% block title %}Passwort vergessen{% endblock %}
{% block description %}Passwort vergessen{% endblock %}
{% block keywords %}Passwort vergessen{% endblock %}

{% block content %}
    <h1>Passwort vergessen</h1>

    {% macro render_input(name, type, placeholder) %}
        <label for="{{ name }}">{{ placeholder }}</label><br>
        <input type="{{ type }}" name="{{ name }}" placeholder="{{ placeholder }}" required><br><br>
    {% endmacro %}

    <form action="{{ url_for('account.reset_password') }}" method="post">
        {{ render_input('email', 'email', 'E-Mail') }}
        <button type="submit">Bestätigen</button>
    </form>
{% endblock %}