{% extends "base.html" %}

{% block title %}Code bestätigen{% endblock %}
{% block description %}Code bestätigen{% endblock %}
{% block keywords %}Code bestätigen{% endblock %}

{% block content %}
    <h1>Code bestätigen</h1>

    {% macro render_input(name, type, placeholder) %}
        <label for="{{ name }}">{{ placeholder }}</label><br>
        <input type="{{ type }}" name="{{ name }}" placeholder="{{ placeholder }}" required><br><br>
    {% endmacro %}

    <form action="{{ url_for(action) }}" method="post">
        {{ render_input('code', 'number', 'Code') }}
        <button type="submit">Bestätigen</button>
    </form>
{% endblock %}