<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Anton Schäfer">
    <meta name="keywords" content="{% block keywords %}Flask, Projekt{% endblock %}">
    <meta name="description" content="{% block description %}Ein einfaches Flask-Projekt von Anton Schäfer{% endblock %}">
    
    <title>{% block title %}Anton's Flask Projekt{% endblock %}</title>
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% block favicon %}https://snasyde.github.io/snasyde/images/pfp_without_bg.png{% endblock %}">
    
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>

<body>

    <!-- Flash-Nachrichten -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div role="alert">
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    <!-- Hauptinhalt -->
    <main id="content">
        {% block content %}
            <p>Leere Seite.</p>
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Anton Schäfer - Alle Rechte vorbehalten.</p>
    </footer>

</body>

</html>