{% extends "base.html" %}

{% block title %}Neues Password{% endblock %}
{% block description %}Neues Password{% endblock %}
{% block keywords %}Neues Password{% endblock %}

{% block content %}
    <form action="{{ url_for('account.forgot_password') }}" method="post">
        <input type="password" name="new_password" placeholder="Neues Password" required>
        <input type="number" name="code" placeholder="Code" required>
        <button type="submit">Bestätigen</button>
    </form>
{% endblock %}