{% extends "base.html" %}

{% block title %}Passwort vergessen{% endblock %}
{% block description %}Passwort vergessen{% endblock %}
{% block keywords %}Passwort vergessen{% endblock %}

{% block content %}
    <form action="{{ url_for('account.reset_password') }}" method="post">
        <h1>Passwort vergessen</h1>
        <label for="email">E-Mail</label>
        <br>
        <input type="email" name="email" placeholder="E-Mail" required>
        <br><br>
        <button type="submit">Bestätigen</button>
    </form>
{% endblock %}